[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117/"
verify_ssl = true
name = "downloadpytorch"

[packages]
pylsl = "*"
torch = {version = "==1.13.1+cu117", index = "downloadpytorch"}
numpy = "*"
matplotlib = "*"
einops = "*"
scipy = "*"
tqdm = "*"
ipython = "*"
wandb = "*"
torchdiffeq = "*"
torchviz = "*"
ipykernel = "*"
seaborn = "*"
scikit-learn = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
